<ion-header>
  <ion-toolbar color="success">
    <ion-title> {{ movie?.Title }} </ion-title><!-- problem kdyz je null, proto ? ""-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie"><!--only display card if movie is set-->
    <img [src]="movie.Poster" class="center"/>

    <ion-card-header>
      <ion-card-title> {{ movie.Title }} </ion-card-title>
      <ion-card-subtitle> {{ movie.Country }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="medium"> {{ movie.Plot }} </ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label> {{ movie.Year }} </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label> {{ movie.BoxOffice }} </ion-label><!--mozna zmenit obe ikony?-->
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let r of movie.Ratings">
          {{ r.Source + ": " + r.Value }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- moc nefunguje na mobilu, viz movie-details.page.ts
<ion-footer>
  <ion-button expand="full" (click)="openWebsite()">
    Open movie website
  </ion-button>
</ion-footer>-->