<ion-header>
  <ion-toolbar>
    <ion-title>OMDb Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<img src="https://html-online.com/image.jpg" class="center"/>-->
  <ion-text class="ion-padding" style="text-align: center">
    <h1>
      OMDb Search
    </h1>
  </ion-text>
  <ion-card style="margin-bottom: 25px">
    <ion-card-header>
      <ion-card-title style="text-align: center">OMDb API</ion-card-title>
      <ion-card-subtitle style="text-align: center">The Open Movie Database</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p style="text-align: center">Search movies using the OMDb API.</p>
      <!--<p style="text-align: center">Enter the name of a movie (or a part of it) and start searching.</p>-->
    </ion-card-content>
  </ion-card>
  <ion-searchbar placeholder="Search movies..." (ionChange)="onSearchChange($event)"></ion-searchbar>
  <!--<ion-button expand="full" routerLink="/movies" [queryParams]="{search: title}" style="margin-bottom: 50px">Start searching!</ion-button>-->
  <ion-button expand="full" (click)="navigateSearch()" style="margin-bottom: 50px">Start searching!</ion-button>
  <ion-label class="ion-padding">Last searches:</ion-label>
  <div class="ion-padding">
    <ion-list>
      <ion-item button *ngFor="let s of history" routerLink="/movies" [queryParams]="{search: s}">
        {{ s }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
